MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=KuIDwvaatQAmdCDRlZoXXdjyeMQdjuxv
MYSQL_DATABASE=railway
PMA_HOST= mysql
PMA_PORT= 3306
PMA_USER= root
PMA_PASSWORD= KuIDwvaatQAmdCDRlZoXXdjyeMQdjuxv
MYSQL_ROOT_PASSWORD=KuIDwvaatQAmdCDRlZoXXdjyeMQdjuxv
